html,body{
	width: 100%;
	height: 100%;
}
.container{
	width: 100%;
    height: 100%;
    min-height: 25rem;
    color: white;
    background-image: url(../../img/step1/back1.png);
    background-size: 100% 100%;
}
/*上半部分*/
.top_content{
	width: 100%;
	height: 52%;
	position: relative;
}
.top_content .exitbtn{
	position: absolute;
	top: 0;
	text-align: right;
	width: 100%;
}
.top_content .exitbtn img{
    width: 2rem;
    position: absolute;
    right: 0.5rem;
    top: 0;
}
.top_content .logo{
	width: 100%;
	height: 2rem;
	position: absolute;
	top: 3rem;
}
.top_content .logo p{
	text-align: center;
}
.top_content .logo p img{
	width: 7rem;
}
.top_content .welcome{
	width: 100%;
	height: 2rem;
	position: absolute;
	bottom: 0rem;
}
.top_content .welcome p{
	text-align: center;
    font-size: 0.6rem;
    width: 8rem;
    margin: 0 auto;
    line-height: 0.8rem;
}
/*下半部分*/
.bottom_content{
    width: 100%;
    height: 48%;
    position: relative;
    box-sizing: border-box;
    padding-top: 1.2rem;
}
.bottom_content ul{
	width: 100%;
}
.bottom_content ul li{
	width: 100%;
	height: 2rem;
	text-align: center;
}
.bottom_content ul li p{
    width: 10rem;
    height: 100%;
    margin: 0 auto;
    font-size: 0.6rem;
    text-align: center;
    line-height: 2rem;
    box-sizing: border-box;
}
.bottom_content ul li p i{
    width: 4rem;
    height: 0.12rem;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;
}
.bottom_content ul li input{
	width: 11rem;
    height: 100%;
    margin: 0 auto;
    border: 0;
    border-radius: 1rem;
    padding-left: 0.7rem;
    box-sizing: border-box;
}




